.background {
  width: 700px;
  height: 700px;
  border: 3px dashed;
  // background: red;
  // background-image: url('./assets/image/photo.jpg');
  background-image: url("https://picsum.photos/id/1050/300/600");
  background-repeat: no-repeat;
  // background-repeat: repeat-y;
  // background-position: 100px 100px;
  // background-position: 50% 50%;
  // background-position: 100% 100%;
  // background-position: center center;
  // background-position: center;
  // background-size: cover;
}

body {
  background-image: url("https://picsum.photos/id/1055/2560/1440");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}