@use "./variables" as v;

h1 {
  color: v.$brand;
  //  vw vh view height and view width
  font-size: 7vw;
  text-transform: capitalize;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}